@import url("https://fonts.googleapis.com/css?family=Poppins:700");
body {
	margin: 0;
	padding: 0;
	background: url(1.jpeg);
	-webkit-background-size:cover;
	background-color: black;
	background-size:cover;
	background-position: 50% 50%;
}
.wrapper{
width: 800 px;
margin: 0 auto;
padding: 20px;
display: none;
}

.wrapper h1{
text-align: center;
text-transform: uppercase;
margin-top: 40 px;
}

.wrapper h2{
	text-align: center;
}

.line {
	height: 25px;
	min-width: 800px;
	margin: 0 auto 10 px;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	padding:0 0 0 10px;
	position: relative;
}

.line:before{
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	height: 25px;
	top: 0;
	z-index: -2;
	background: #d2d6d7;
}

.line:after{
	content: '';
	background: #333;
	height: 25px;
	transition: 0.8s;
	display: block;
	width: 100%;
	animation: animate 1 4s;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.line1:after{
	max-width: 90%;
}

.line2:after{
	max-width: 90%;
}

.line3:after{
	max-width: 90%;
}

.line4:after{
	max-width: 70%;
}

@keyframes animate {
	0% {
		width:0;
	}

	100% {
		width: 100%;
	}
}

#loadscreen {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: 64px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#gui, #playerStats {
	display: none
}

/* #playerStats{
	display: none;
} */
p {
  font-size: 24px;
}
button {
  padding: 1em 2em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
